.row{
    border: 1px
}

body {
    margin: 0px;
}

.menu {
    position: fixed;
    width: 100%;
    max-height: 40px;
    background-color: white; 
    z-index: 100;
    text-align: center;
    padding: 7;
    overflow: hidden;
    display:block;
}

li{
    display: inline;
    padding: 100;
}

.menu a{
    text-decoration: none;
    color: black;
    font-family: "helvetica";
    font-size: 12;
}

a:hover{
    text-decoration: underline;
}

#head {
    height: 900;
    position: relative;
    text-align: center;
    background-image: url("../images/Alps.jpg");
    background-attachment: fixed;
    width: 100vw;
}

#head h1{
    position: absolute;
    top: 40%;
    width: 100%;
    font-family: "garamond";
    color: floralwhite;
    font-size: 50px;
}

#head h5{
    position: absolute;
    top: 420;
    width: 100%;
    font-family: "helvetica"; 
    color: floralwhite;
    font-size: 12px;
}

.u-max-full-width{
    width: 100%;
}

#introduction{
    margin:auto;
    max-width: 700px;
    max-height: 800px;
    padding: 60px;
}

#introduction p{
    font-family: "garamond";
    max-width: 700px;
    font-size: 18;
}


.chapter {
  height: 850px;
  background-color: black;
  background-attachment: fixed;
  
}


.chapter h5{
  text-align: center;
    color: white;
    font-family: "helvetica";
    padding-top: 350px;
    margin: auto;
    
}

.chapter h3{
    text-align: center;
    color: white;
    font-family: "garamond";
    max-width: 600px;
    
}

#content {
    margin:auto;
    max-width: 700px;
    height: 400px;
    padding: 60px;
    margin: auto;
}

#content p {
    font-family: "garamond";
    max-width: 700px;
    font-size: 18;
}


h6 {
    font-size: 09px;
    text-align: left;
}

/*
#ruotato{
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    position: absolute;
    margin-top:380;
    margin-left:-350;
    width: 800px;
    height: 40px;
}

#ruotato p{
    font-family: "helvetica";
    font-size: 18px;
    cursor: pointer;
    color: black;
    display: inline;
}


#ruotato p:hover{
    text-decoration: underline;
    color: black;
}

#ruotato p:active{
    text-decoration: underline;
    color: black;

}

#ruotato ul li{
    padding: 0;
    margin: 50;
    
}*/


#alpi{
    margin-top: 80px;
    height:900px;
    max-width: 3000px

}

#menudati {
    margin-top: 60px;
    max-width: 100vw;
    text-align: center;
}

#menudati p{
    display: inline;
    margin: -50px;
    cursor: pointer;
    
}

.immagini img{
    width: 100%;
    margin-top: 60px;
}

.info{
    text-align:right;
    margin-top: -200px;
    

}

.info p{
    font-family: "helvetica";
    font-size: 12px;
    display: none;
    padding-right: 20px;
    
    
}

.legenda{
    text-align: right;
    margin-top: -170px;

    
}

.legenda p{
    font-size: 14px;
    font-family: "helvetica";
    cursor: pointer;
    display: inline;
    color: black;  
}


.legenda p:hover{
    text-decoration: underline;
    color: black;  
    
}

.legenda p:active{
    text-decoration: underline;
}

#legenda1 ul{
    display: none;
} 

#legenda1 ul li{
    padding:30;
}

#legenda2 ul{
    display:none
}

#legenda2 ul li{
    margin:20;
    padding:0;

}


#legenda3 ul{
   display:none;
}

#legenda3 ul li{
    margin:20;
    padding:0;
}


#names{
    max-height: 1000px;
    background-color: black;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content:flex-start;
    padding-left: 150px;
    
}

#names h5{
    font-family: "garamond";
    color: white;
    opacity:0.15;
    transition: all 1s;
    cursor: pointer;
    width: 25%;
}

#names h5:hover{
    opacity: 1;
}

#names p{
    font-family: "helvetica";
    font-size: 12;
    margin: auto;
    color: white;
    opacity:0;
    transition: all 3s;
    cursor: pointer;
}


#cities{
    height:6050;
    
}

#cities img{
    width: 100%;
    margin-top: 60;
    margin-bottom:-40;
    
    
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0;

}

div.sticky p{
    font-family: "garamond";
    max-width: 600px;
    font-size: 18;
    padding-top: 60;
    padding-bottom: 60; 
    
    
}

#chapter3{
    margin-top: 60;
}

#gallery {
    max-height: 2500;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items:center;
	align-content:center; 
    padding-left: 30px;
    padding-top: 60px;

    
}

.thumbnail {
    width: 280px;
    height: 200px;
    
    
}

.thumbnail img{
    width:220px;
    height: 160px;
    margin:20;
    position: relative;
    opacity: 1;
    z-index: 10;
       
}

.thumbnail img:hover{
    opacity: 0;
    transition: 0s;
}

.thumbnail p{
    width: 220;
    height:160;
    position: relative;
    top: -203px;
    margin:20;
    font-size: 12;
}


.records{
  margin-top: 300px; 
    
}

.records p{
    font-family: "garamond";
    padding-top: 30;
    font-size: 18;
    max-width: 300px;
}

.records img{
    max-width: 400px;
    width: 100%;
}


#records2 p{
    text-align: right;
}

#records2 img{
    max-width: 400px;
}
.img-container{
    
    height: 500;
    overflow: hidden;
    position: relative;
    width:600;
    margin: 150;
}

.img-container img{
    width: 600;
    height: 500;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity:0;
    position: absolute;
    top:0;
    z-index: -1;
}

.img-container img.next{
    opacity: 1;
    z-index: 1;

}

.img-container img.prev{
    opacity: 1;
    z-index: 1;
    
}

.img-container img.fade-out{
    opacity: 0;
    transition: visibility 0s, opacity 0s linear;
    visibility: hidden;
}

div{
    border:
}


@media (min-width: 320px){
    .menu{
        display: none;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .menu{
        display: block;
    }
}




