html{
    margin: 0;
    padding: 0;
}

head{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding: 0;
}

.u-max-full-width {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.menu {
    position: fixed;
    width: 100%;
    max-height: 40px;
    background-color: white; 
    z-index: 100;
    text-align: center;
    padding: 7px;
    overflow: hidden;
    display: block;
    
}

.menu li{
    display: inline;
    padding: 100;
}

.menu a{
    text-decoration: none;
    color: black;
    font-family: "helvetica";
    font-size: 12;
}

a:hover{
    text-decoration: underline;
}


#head {
    height: 900;
    position: relative;
    text-align: center;
    background-image: url("../images/Alps.jpg");
    background-attachment: fixed;
    width: 100vw;
    
}


#head h1{
    position: absolute;
    top: 30%;
    width: 100%;
    font-family: "garamond";
    color: floralwhite;
    font-size: 50px;
}

#head h5{
    position: absolute;
    top: 37%;
    width: 100%;
    font-family: "helvetica"; 
    color: floralwhite;
    font-size: 12px;
}

#introduction{
    margin:auto;
    max-width: 700px;
    max-height: 800px;
    padding: 30px;
}

#introduction p{
    font-family: "garamond";
    max-width: 700px;
    font-size: 18;
}

.chapter {
  height: 850px;
  background-color: black;
  background-attachment: fixed;
  
}


.chapter h5{
  text-align: center;
    color: white;
    font-family: "helvetica";
    padding-top: 350px;
    margin: auto;
    
}

.chapter h3{
    text-align: center;
    color: white;
    font-family: "garamond";
    max-width: 600px;
    
}

#content {
    margin:auto;
    max-width: 700px;
    height: 500px;
    padding: 30px;
    margin: auto;
}

#content p {
    font-family: "garamond";
    max-width: 700px;
    font-size: 18;
}


h6 {
    font-size: 09px;
    text-align: left;
}


#alpi{
    max-height: 1000px;

}

#menudati {
    max-width: 100vw;
    text-align: center;
   
}

#menudati p{
    font-family: "helvetica";
    display: inline;
    cursor: pointer;
    
    
}

#menudati ul{
     list-style-type: none;
   
}

#menudati li{
    display: inline;
    margin: 20px;
    border: solid 1px black;
    width: 190px;
    height:25px;
    display: inline-block;

    
    
}

.immagini img{
    width: 100%;
}


.info{
    text-align:right;
    margin-top: -150px;

}

.info p{
    font-family: "helvetica";
    font-size: 12px;
    display: none;
    padding-right: 5px;
    
    
}

.legenda{
    text-align: right;
    margin-top: -130px;
}


.legenda ul{
     list-style-type: none;
    
}

.legenda li{
    display: inline;
}

.legenda p{
    font-size: 14px;
    font-family: "helvetica";
    cursor: pointer;
    display: inline;
    color: black;  
}


.legenda p:hover{
    text-decoration: underline;
    color: black;  
    
}

.legenda p:active{
    text-decoration: underline;
}

#legenda1 ul{
    display:none;
} 

#legenda1 ul li{
    margin:8px;

}

#legenda2 ul{
    display:none;
}

#legenda2 ul li{
    margin:8px;

}


#legenda3 ul{
   display:none;
}

#legenda3 ul li{
    margin:8;
}

#chapter2{
    margin-top: 50px;
}

#names{
    max-height: 1000px;
    background-color: black;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content:center; 
    padding-left: 150px;
    
}

#names h5{
    font-family: "garamond";
    color: white;
    opacity:0.15;
    transition: all 1s;
    cursor: pointer;
    width: 25%;
}

#names h5:hover{
    opacity: 1;
}

#names p{
    font-family: "helvetica";
    font-size: 12;
    margin: auto;
    color: white;
    opacity:0;
    transition: all 3s;
    cursor: pointer;
}

#cities{
    max-height:6050;
    
}

#cities img{
    width: 100%;
    margin-top: 60px;
    margin-bottom:-40px;
    
    
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0;

}

div.sticky p{
    font-family: "garamond";
    max-width: 600px;
    font-size: 18;
    padding-top: 60;
    padding-bottom: 60; 
    
    
}

#chapter3{
    margin-top: 60;
}

#gallery {
    max-height: 2500;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items:center;
	align-content:center; 
     padding-left: 30px;
    padding-top: 60px;

    
}

.thumbnail {
    width: 280px;
    height: 200px;
    
    
}

.thumbnail img{
    width:220px;
    height: 160px;
    margin:20;
    position: relative;
    opacity: 1;
    z-index: 10;
       
}

.thumbnail img:hover{
    opacity: 0;
    transition: 0s;
}

.thumbnail p{
    width: 150;
    height: 100;
    position: relative;
    top: -140px;
    margin:20;
    font-size: 10px;
    line-height: 12px;
}

.records{
  margin-top: 200px; 
    margin-bottom: 100px;
    
}

.records p{
    font-family: "garamond";
    padding-top: 30;
    font-size: 18;
    max-width: 500px;
}

.records img{
    max-width: 400px;
    width: 100%;
}


#records1 img{
    margin-left: 50px;
}

#records2 p{
    text-align: left;
}

#records2 img{
    max-width: 400px;
}

.img-container{
    
    height: 500;
    overflow: hidden;
    position: relative;
    width:600px;
    margin:150px;
    
    
}

.img-container img{
    width: 600;
    height: 500;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity:0;
    position: absolute;
    top:0;
    z-index: -1;
    
}

.img-container img.next{
    opacity: 1;
    z-index: 1;

}

.img-container img.prev{
    opacity: 1;
    z-index: 1;
    
}

.img-container img.fade-out{
    opacity: 0;
    transition: visibility 0s, opacity 0s linear;
    visibility: hidden;
}

div{
    border:
}


@media only screen and (max-width: 900px){
    .menu{
        display: none;
    }
    
    #menudati p{
        font-size:75%;
    }
    
    #menudati li{
    border: solid 1px black;
    width: 190px;
    height:20px;
    display: inline-block;
    margin: 5px;
    
}
    
    .info{
        margin: 0;
    
}
    
    .info p{
        font-size: 10px;
    }
    
    .legenda{
         margin-top: -20px;
    }

    .legenda p{
    font-size: 75%;
        
} 
    #names{
    max-height: 3000px;
    padding: 0;
    
    
  } 
    
    #names h5{
        width: 40%;
    margin-left: 35px;
    }
    
    #gallery {
        padding:0;
    }
    
    .thumbnail {
    width: 180px;
    height: 120px;
    
    
}
    .thumbnail img{
    width:150px;
    height: 100px;
    }
    
    .records img{
        margin-bottom:30px;
    }
    
    #records1 img{
        margin:0;
    }
    
    .img-container{
    height: 300px;
    margin:37px; 
    padding: 0;
    width:300;
    }
    
    .img-container img{
    width: 300px;
    height: 200px;
    }
    
}